[Desktop Entry]
Categories=Qt;KDE;System;
Keywords=update manager;updates;
Keywords[en_US]=update manager;updates;
Keywords[pt_BR]=atualizar;atualizações;
Keywords[pt_PT]=atualizar;atualizações;
Keywords[es]=actualizar;actualizaciones;
Comment[pt_BR]=Gerenciador de atualizações do Regata OS
Comment[pt_PT]=Gerenciador de atualizações do Regata OS
Comment[en_US]=Regata OS Update Manager
Comment[es]=Administrador de actualizaciones de Regata OS
Comment=Regata OS Update Manager
Exec=regataos-update-manager
GenericName[pt_BR]=Gerenciador de atualizações do Regata OS
GenericName[pt_PT]=Gerenciador de atualizações do Regata OS
GenericName[en_US]=Regata OS Update Manager
GenericName[es]=Administrador de actualizaciones de Regata OS
GenericName=Regata OS Update Manager
Icon=/usr/share/pixmaps/regataos-update-manager.png
Name[pt_BR]=Regata OS Update
Name[pt_PT]=Regata OS Update
Name[en_US]=Regata OS Update
Name[es]=Regata OS Update
Name=Regata OS Update
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=Regata OS Update
