@font-face {
    font-family: "Oxygen";
    src: url('fonts/Oxygen.otf') format('truetype');
}

body {
    font-family: Oxygen;
    font-weight: 300;
    background: #fff;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Display content when everything is ready */
#loadscreen {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 40000;
    animation-name: initEffect;
    animation-duration: 1.2s;
}

.loadscreen-page {
    height: 95% !important;
}

@keyframes initEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-left: 1px solid #cdcdcd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: all .3s;
    background: #b3b3b3;
    min-height: 50px;
    border-radius: 2em;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
    border-radius: 2em;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

a {
    color: #2d78d6ff;
    cursor: pointer;
    text-decoration: underline;
}

img {
    pointer-events: none;
}

ul {
    margin: 0px;
    list-style-image: url(../images/icon-list.png);
}

li {
    margin-bottom: 0px;
}

.sidebar {
    display: block;
    position: fixed;
    background-color: #eff0f1;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 58px;
    height: 100%;
    padding: 0px 0px 14px 0px;
    user-select: none;
    float: left;
    z-index: 30000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.ul-sidebar {
    padding-left: 0px;
    margin-top: 15px;
}

.sidebar .ul-sidebar li {
    cursor: pointer;
    font-size: 16px;
    width: 58px;
    min-height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect {
    display: block;
    float: left;
    width: 5px;
    height: 30px;
    border-radius: 4px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect-dark {
    transition: all 0.3s ease-in-out;
}

.sidebar .ul-sidebar li:hover .sidebar-item-effect {
    background-color: #005fb8;
}

.sidebar .ul-sidebar li:hover .sidebar-item-effect-dark {
    background-color: #3daee9;
}

.sidebar-button {
    background-color: #eff0f1;
    color: #d2d5da;
}

.sidebar-button:hover {
    background-color: #d3d3d3;
    color: #d2d5da;
}

li.historic {
    display: none;
}

.link-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.link-items p {
    color: #333;
    font-size: 18px;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.icones-menu {
    height: 30px;
    margin-left: 2px;
}

.div-iframe {
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.iframe {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.main {
    box-sizing: border-box;
    max-width: 1000px;
    width: 95%;
    padding-left: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.div1 {
    position: relative;
    height: 170px;
    margin-bottom: 0px;
}

.div1-sub {
    position: relative;
    width: 500px;
    height: 41px;
}

.div1-updated {
    position: relative;
    height: 110px;
    margin-bottom: 0px;
}

.div2 {
    display: none;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    animation-name: animatebottom;
    animation-duration: .5s;
    margin-bottom: 10px;
}

.div2-updated {
    display: block;
    position: relative;
    max-width: 750px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.div2-settings {
    display: block;
    position: relative;
    max-width: 750px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.div2-other-updates {
    background-color: #eff0f1;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    padding: 12px;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.other-updates {
    position: relative;
    top: 0px;
    display: flex;
    width: 100%;
    height: 46px;
    align-items: center;
    box-sizing: border-box;
    background-color: #eff0f1;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 30000;
}

.up-apps-auto {
    float: left;
    font-size: 17px;
    width: 100%;
}

#select-update {
    font-size: 14px;
    font-family: Oxygen;
    font-weight: 300;
    width: 300px;
    height: 33px;
    padding-left: 5px;
    margin-top: 5px;
}

select:focus+.focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

h1 {
    font-size: 26px;
    font-weight: 300;
    font-family: Oxygen;
    margin-top: 10px;
    margin-bottom: 0px;
}

.update-all {
    display: none;
    position: relative;
    float: right;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.update-all-button1 {
    display: block;
    font: 17px 'Oxygen', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 110px;
    color: #fff;
    cursor: pointer;
    border-radius: 2em;
    background-color: #005fb8;
    background-position: center;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    padding: 5px 20px;
    transition: all 0.5s ease-in-out;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.update-all-button1:hover {
    background: #013260 radial-gradient(circle, transparent 1%, #013260 1%) center/15000%;
}

.update-all-button1:active {
    background-color: #005fb8;
    background-size: 100%;
    transition: all 0s;
}

.update-all-button2 {
    display: none;
    font: 17px 'Oxygen', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 110px;
    cursor: pointer;
    border-radius: 5px;
    background-position: center;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    padding: 14px;
    transition: all 0.5s ease-in-out;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.update-all-button2-white {
    background-color: #ccc;
    color: #333;
}

.update-all-button2-white:hover {
    background: #b5b5b5 radial-gradient(circle, transparent 1%, #b5b5b5 1%) center/15000%;
}

.update-all-button2-white:active {
    background-color: #dadada;
    background-size: 100%;
    transition: all 0s;
}

.update-all-button2-dark {
    background-color: #49505a;
    color: #fff;
}

.update-all-button2-dark:hover {
    background: #414750 radial-gradient(circle, transparent 1%, #414750 1%) center/15000%;
}

.update-all-button2-dark:active {
    background-color: #515863;
    background-size: 100%;
    transition: all 0s;
}

.apps-updated {
    display: block;
    position: relative;
    float: left;
    width: 600px;
    font-size: 20px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.apps-settings {
    display: block;
    position: relative;
    float: left;
    width: 600px;
    font-size: 20px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.check-up {
    display: none;
    position: relative;
    float: left;
    width: 600px;
    font-size: 20px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.loading {
    display: none;
    position: relative;
    width: 110px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.loader {
    border: 10px solid #eaeaea;
    border-radius: 50%;
    border-top: 10px solid #005fb8;
    width: 90px;
    height: 90px;
    animation: spin 1.5s linear infinite;
}

.updated_system {
    display: none;
    position: relative;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.updated_system_img {
    display: block;
    position: relative;
    height: 120px;
    width: 120px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.check-updates-button-status {
    display: none;
    position: relative;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: animatebottom;
    animation-duration: .5s;
}

#check-updates-button-title {
    font-size: 19px;
    margin-right: 20px;
}

#check-updates-button-desc {
    font-size: 17px;
    color: #333;
    margin-right: 20px;
}

.updated_system-check-button {
    display: none;
    position: relative;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    animation-name: animatebottom;
    animation-duration: .5s;
}

#check-updates-button {
    float: right;
    cursor: pointer;
    color: #fff;
    font: 16px 'Oxygen', sans-serif;
    text-align: center;
    background-color: #005fb8;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    margin-right: 20px;
    padding: 13px;
    transition: all 0.5s ease-in-out;
}

#check-updates-button:hover {
    background: #013260 radial-gradient(circle, transparent 1%, #013260 1%) center/15000%;
}

#check-updates-button:active {
    background-color: #005fb8;
    background-size: 100%;
    transition: all 0s;
}


.never_update_system {
    display: none;
    position: relative;
    width: 146px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.never_update_system_img {
    display: block;
    position: relative;
    width: 146px;
    height: 200px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.no-up {
    display: none;
    position: relative;
    float: left;
    width: 600px;
    font-size: 20px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.never-up {
    display: none;
    position: relative;
    float: left;
    width: 600px;
    font-size: 20px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.show-updates {
    position: relative;
    margin-right: 250px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.yes-up {
    display: none;
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.updated {
    display: none;
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-right: 8px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.updated-img {
    display: none;
    position: relative;
    float: left;
    height: 22px;
    width: 22px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 8px;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.updates-app-number {
    display: none;
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.updates-package-number {
    float: right;
    font-size: 18px;
    margin-left: 5px;
}

.auto-update-status {
    display: none;
    position: relative;
    float: left;
    width: 500px;
    color: #575757;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.search-update-status {
    display: none;
    position: relative;
    float: left;
    width: 500px;
    color: #575757;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.block-app-fictitious {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.3s;
}

.block-app {
    position: relative;
    top: 0px;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
    background-color: #eff0f1;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 30000;
    padding: 12px;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.block-app:hover,
.other-updates:hover {
    background-color: #eff0f1;
}

.app-name {
    float: left;
    font-size: 19px;
    margin-top: 0px;
    margin-right: 10px;
}

.app-status-pending,
.app-status-download,
.app-status-install,
.app-status-concluded {
    display: none;
    float: left;
    font-size: 15px;
    color: #575757;
    margin-top: 0px;
    margin-right: 10px;
}

.app-status-percentage {
    display: none;
    float: left;
    font-size: 15px;
    margin-top: 0px;
    color: #575757;
}

.otherup-app-title {
    float: left;
    margin-right: 10px;
}

.otherup-app-status-download,
.otherup-app-status-install,
.otherup-app-status-concluded {
    display: none;
    float: left;
    font-size: 15px;
    color: #575757;
    margin-top: 0px;
    margin-right: 10px;
}

.total-download-percentage {
    display: none;
    float: left;
    font-size: 15px;
    margin-top: 0px;
    margin-right: 5px;
    color: #575757;
}

.icon-app {
    display: block;
    float: left;
    height: 45px;
    width: 45px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 10px;
}

.update-other,
.update-app {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #fff;
    font: 16px 'Oxygen', sans-serif;
    background-color: #005fb8;
    background-position: center;
    border-radius: 2em;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    padding: 5px 20px;
    margin-top: 0px;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
}

.update-other {
    margin-right: 8px !important;
}

.update-other:hover,
.update-app:hover {
    background: #013260 radial-gradient(circle, transparent 1%, #013260 1%) center/15000%;
}

.update-other:active,
.update-app:active {
    background-color: #005fb8;
    background-size: 100%;
    transition: all 0s;
}

.cancel-app {
    display: none;
    float: right;
    cursor: pointer;
    font: 16px 'Oxygen', sans-serif;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    padding: 13px;
    margin-top: 0px;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
}

.cancel-app-white {
    background-color: #ccc;
    color: #333;
}

.cancel-app-white:hover {
    background: #b5b5b5 radial-gradient(circle, transparent 1%, #b5b5b5 1%) center/15000%;
}

.cancel-app-white:active {
    background-color: #dadada;
    background-size: 100%;
    transition: all 0s;
}

.cancel-app-dark {
    background-color: #49505a;
    color: #fff;
}

.cancel-app-dark:hover {
    background: #414750 radial-gradient(circle, transparent 1%, #414750 1%) center/15000%;
}

.cancel-app-dark:active {
    background-color: #515863;
    background-size: 100%;
    transition: all 0s;
}

.open-app {
    float: right;
    cursor: pointer;
    color: #fff;
    font: 16px 'Oxygen', sans-serif;
    background-color: #005fb8;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    padding: 13px 18px;
    margin-top: 0px;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
}

.open-app:hover {
    background: #013260 radial-gradient(circle, transparent 1%, #013260 1%) center/15000%;
}

.open-app:active {
    background-color: #005fb8;
    background-size: 100%;
    transition: all 0s;
}

.update-app-auto {
    float: right;
    color: #222;
    font: 16px 'Oxygen', sans-serif;
    background-color: #cecece;
    border: 2px solid #cecece;
    border-radius: 0px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
}

.more-details {
    float: left;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 10px;
}

.show-details {
    display: flex;
}

.hide-details {
    display: none;
}

.more-details .fa {
    float: left;
}

.more-details-text {
    float: left;
    margin-left: 5px;
}

.more-details-contents {
    display: none;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: auto;
    height: 165px;
    overflow: auto;
    clear: both;
    margin-top: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

@keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* responsive */
@media screen and (max-width: 810px) {
    .more-details-contents {
        width: 512px !important;
    }
}

@media screen and (max-width: 710px) {
    .app-name {
        max-width: 8ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}