[Unit]
Description=Regata OS Update Manager Icon Tray
PartOf=graphical-session.target
After=plasma-core.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart=/opt/regataos-update-manager/scripts/check-up-icontray.sh
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=default.target
