[Desktop Entry]
Exec=/opt/regataos-update-manager/scripts/check-up-icontray.sh
OnlyShowIn=KDE;
Type=Service
MimeType=
Terminal=false
X-KDE-autostart-after=root
X-KDE-StartupNotify=false
X-KDE-autostart-condition=AutoStart:true
Icon=system-run
GenericName=Launch the Update Manager icon in the system system tray
Name=Regata OS Update Icon Tray
